section
  .container
    h1 Наш автопарк
    .autopark
      .autopark__row
        .autopark__item
          .autopark__item--text
            p.autopark__item--text-red 1.5 тонны
            p.autopark__item--text-maroon Газель 3м, 1,5тн, 12м3
          img.autopark__item--images(src="images/auto-1.jpg" alt="" title="")
        .autopark__item
          .autopark__item--text
            p.autopark__item--text-red 3 тонны
            p.autopark__item--text-maroon Грузовик, 3,5м, 3,5тн, 15м3
          img.autopark__item--images(src="images/auto-2.jpg" alt="" title="")
      .autopark__row
        .autopark__item
          .autopark__item--text
            p.autopark__item--text-red 10 тонн
            p.autopark__item--text-maroon Грузовик, 6м, 10тн, 34м3
          img.autopark__item--images(src="images/auto-3.jpg" alt="" title="")
        .autopark__item
          .autopark__item--text
            p.autopark__item--text-red 20 тонн
            p.autopark__item--text-maroon Евро тент, 13,6м, 20тн, 86м3
          img.autopark__item--images(src="images/auto-4.jpg" alt="" title="")