section.features-bg
  .features-bg__line--white
  .features-bg__line--gray
  .container
    h1 Наши преимущества
    .features
      .line--white
      .line--gray
      .features__item.features__item--1
        h2.features__item--header Соблюдаем сроки
        p.features__item--text Своевременно подаём<br>авто и доставляем грузы
      .features__item.features__item--2
        h2.features__item--header Ездим по всей РФ
        p.features__item--text Всегда есть свободный<br>транспорт
      .features__item.features__item--3
        h2.features__item--header Безопатность
        p.features__item--text Предлагаем только проверенных<br>водителей, с хорошей<br>репутацией
      .features__item.features__item--4
        h2.features__item--header Бухгалтерская отчётность
        p.features__item--text Работаем за наличный и безналичный расчёт, НДС. Предоставим весь пакет документов