footer.footer-page
  .footer.container
    .footer__top
      p.footer__top--address.
        Офис: 167000, г. Сыктывкар, ул. Огородная, д. 6, оф. 2<br>
        График работы: с 8:00 до 20:00
      p.footer__top--tel.
        Тел: 8 (950) 566-46-66, 8 (963) 557-35-77<br>
        E-mail: grus11reg@yandex.ru
      button.button.footer__feedback.feedback Обратная связь
    .footer__bottom
      p.footer__bottom--text.
        &copy; 2017 Домашний переезд
      .footer__bottom--copyright
        p Разработка 
          a.footer__bottom--link(href="#") &laquo;Информационные технологии&raquo;