header
  .background__header
    .background__header--gray
    .background__header--maroon
  .container
    div.header
      .header__gray
      .header__maroon
      .header__logo
        a.header__logo--link(href="index.html")
        p.header__logo--name домашний<br>переезд
      .header__contacts
        p.header__contacts--item.header__contacts--tel 8 (950) 566-46-66
        p.header__contacts--item.header__contacts--email grus11reg@yandex.ru
      .header__feedback
        button.button.header__feedback--button.feedback Обратная связь
    nav.nav
      ul.nav__list
        li.nav__list--item.arrow
          a.nav__list--link(href="#") О компании
          ul.sub-menu
            li.sub-menu__item
              a.sub-menu__item--link О компании
            li.sub-menu__item
              a.sub-menu__item--link Реквизиты
            li.sub-menu__item
              a.sub-menu__item--link Шаблоны договора
        li.nav__list--item.arrow
          a.nav__list--link(href="#") Услуги
          ul.sub-menu
            li.sub-menu__item
              a.sub-menu__item--link Наши услуги
            li.sub-menu__item
              a.sub-menu__item--link Квартирный переезд
            li.sub-menu__item
              a.sub-menu__item--link Офисный переезд
            li.sub-menu__item
              a.sub-menu__item--link Дачный переезд
            li.sub-menu__item
              a.sub-menu__item--link Калькулятор
        li.nav__list--item
          a.nav__list--link(href="#") Калькулятор
        li.nav__list--item
          a.nav__list--link(href="price.html") Прайс
        li.nav__list--item
          a.nav__list--link(href="#") Контакты