section.job--bg
  .container
    h1 Как организуем перевозку
    .job
      .job__item
        h2.job__item--header Оставляете <a href="#" class="job__item--header-link">заявку</a>
        p.job__item--text Даете параметры груза
      .job__item
        h2.job__item--header Заключаем договор
        p.job__item--text Согласовываем цену
      .job__item
        h2.job__item--header Осуществляем перевозку 
        p.job__item--text Подаём транспорт в назначенное время, загружаемся, делаете предоплату, доставляем груз
      .job__item
        h2.job__item--header Прием и разгрузка 
        p.job__item--text Окончательный расчёт
