.content
  .container
    .price__breadcrumb
      ul.price__breadcrumb--list
        li
          a.price__breadcrumb--list-link(href="index.html") Главная
        li &gt;
        li Прайс
    h1.price__header Прайс
  .tab-box.container
    ul.tab-nav
      li
        a(href="#t1") 1.5 тонны
      li
        a(href="#t2") 3 тонны
      li
        a(href="#t3") 5 тонн
      li
        a(href="#t4") 10 тонн
      li
        a(href="#t5") 20 тонн
    .price.tab-panels
      .price__item.price__item--1(id="t1")
        p.price__item--text Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для «перевозки» 1-к. квартиры.
        .price__item--auto
          .price__item--auto-img.price__item--auto-img1
          .price__item--auto-description
            .columns
              .columns__item
                h2 Марки автомобилей
                p.price__item--auto-text.
                  - ГАЗель<br>
                  - Isuzu<br>
                  - Kia<br>
                  - Mitsubishi
              .columns__item
                h2 Длина кузова
                p.price__item--auto-text от 3 м. до 5 м.
                h2 Объем кузова
                p.price__item--auto-text от 9 до 20 куб.м
                h2 Грузоподъемность
                p.price__item--auto-text от 1,5 до 2 т.
                h2 Цена за км
                p.price__item--auto-text 15 руб./км
            button.button.request Оставить заявку
      .price__item.price__item--2(id="t2")
        p.price__item--text Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для «перевозки» 2-к. квартиры.
        .price__item--auto
          .price__item--auto-img.price__item--auto-img2
          .price__item--auto-description
            .columns
              .columns__item
                h2 Марки автомобилей
                p.price__item--auto-text.
                  - ГАЗ &laquo;Бычок&raquo;<br>
                  - Валдай
                  - Isuzu<br>
                  - Hino<br>
                  - Mazda
              .columns__item
                h2 Длина кузова
                p.price__item--auto-text от 4,5 м. до 6,5 м.
                h2 Объем кузова
                p.price__item--auto-text от 18 до 30 куб.м
                h2 Грузоподъемность
                p.price__item--auto-text от 3 до 4 т.
                h2 Цена за км
                p.price__item--auto-text 17 руб./км
            button.button.request Оставить заявку
      .price__item.price__item--2(id="t3")
        p.price__item--text Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для «перевозки» 2-к. квартиры.
        .price__item--auto
          .price__item--auto-img.price__item--auto-img2
          .price__item--auto-description
            .columns
              .columns__item
                h2 Марки автомобилей
                p.price__item--auto-text.
                  - ГАЗ &laquo;Бычок&raquo;<br>
                  - Валдай
                  - Isuzu<br>
                  - Hino<br>
                  - Mazda
              .columns__item
                h2 Длина кузова
                p.price__item--auto-text от 4,5 м. до 6,5 м.
                h2 Объем кузова
                p.price__item--auto-text от 18 до 30 куб.м
                h2 Грузоподъемность
                p.price__item--auto-text от 3 до 4 т.
                h2 Цена за км
                p.price__item--auto-text 17 руб./км
            button.button.request Оставить заявку
      .price__item.price__item--3(id="t4")
        p.price__item--text Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для «перевозки» 2-к. квартиры.
        .price__item--auto
          .price__item--auto-img.price__item--auto-img3
          .price__item--auto-description
            .columns
              .columns__item
                h2 Марки автомобилей
                p.price__item--auto-text.
                  - Hino<br>
                  - Volvo<br>
                  - КамАЗ<br>
                  - Isuzu
              .columns__item
                h2 Длина кузова
                p.price__item--auto-text от 4,5 м. до 6,5 м.
                h2 Объем кузова
                p.price__item--auto-text от 18 до 30 куб.м
                h2 Грузоподъемность
                p.price__item--auto-text от 3 до 4 т.
                h2 Цена за км
                p.price__item--auto-text 17 руб./км
            button.button.request Оставить заявку
      .price__item.price__item--4(id="t5")
        p.price__item--text Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для «перевозки» 2-к. квартиры.
        .price__item--auto
          .price__item--auto-img.price__item--auto-img4
          .price__item--auto-description
            .columns
              .columns__item
                h2 Марки автомобилей
                p.price__item--auto-text.
                  - Hino<br>
                  - Volvo<br>
                  - КамАЗ<br>
                  - Isuzu
              .columns__item
                h2 Длина кузова
                p.price__item--auto-text от 4,5 м. до 6,5 м.
                h2 Объем кузова
                p.price__item--auto-text от 18 до 30 куб.м
                h2 Грузоподъемность
                p.price__item--auto-text от 3 до 4 т.
                h2 Цена за км
                p.price__item--auto-text 17 руб./км
            button.button.request Оставить заявку
