section.section-2
  .service.container
    .service__header
      h1.section-2__h1 Наши услуги
      .service__header--banner
        img.service__header--banner-img(src="images/banner-servis.png" alt="" title="")
        .service__header--banner-text
          p Грузоперевозки по России
    .service__items
      .service__items--item
        .service__items--item-img
        .service__items--item-text
          p Квартирный переезд
      .service__items--item
        .service__items--item-img
        .service__items--item-text
          p Офисный переезд
      .service__items--item
        .service__items--item-img
        .service__items--item-text
          p Дачный переезд
    .service__text
      p Современный домашний переезд – это когда Вы, не выходя из дома, с помощью телефона и компьютера можете организовать свой переезд. Компания Домашний переезд – современная компания. Для организации переезда используем современные технологии для поиска заказчиков и исполнителей. У нас большая база перевозчиков, более 90 000. Такое количество позволяет удовлетворить любые потребности заказчиков.<br>Всё что Вам нужно – это набрать Наш номер и оставить заявку, мы подберем транспорт и подадим его в оговоренное время и место.