section.slider__wrap
  ul.bxslider.slider
    li.slider__item
      p.slider__item--text.
        &laquo;За словом дело,<br>
        за делом результат&raquo;
      img(src="images/slide1.jpg" alt="" title="")
    li.slider__item
      p.slider__item--text.
        &laquo;За словом дело,<br>
        за делом результат&raquo;
      img(src="images/slide2.jpg" alt="" title="")
    li.slider__item
      p.slider__item--text.
        &laquo;За словом дело,<br>
        за делом результат&raquo;
      img(src="images/slide3.jpg" alt="" title="")